// script to run the burn-in phase of a neutral model
initialize() {
	if(0) {
		defineConstant("path","/tmp/");
		defineConstant("prefix", "test");
		defineConstant("ancN", 100);
		defineConstant("genN",1);
		defineConstant("mu", 1e-9);
		defineConstant("r", 1.5e-8);
		defineConstant("L", 5e7); // total chromosome length
		defineConstant("RAND", 123); // random identifier
		defineConstant("outfile","teste.trees");
	}
    initializeTreeSeq();
	initializeMutationRate(asFloat(mu));
	//neutral mutations
	initializeMutationType("m2", 0.5, "e", -10/asInteger(ancN));
	initializeRecombinationRate(asFloat(r), asInteger(L)-1);
	initializeGenomicElementType("g1", m2, 1.0);
	initializeGenomicElement(g1, 0, asInteger(L)-1);
}

// create a population of N individuals
//schedule sampling times depending on N
1 {
	sim.addSubpop("p1", asInteger(ancN));
	sim.rescheduleScriptBlock(s0, asInteger(genN)*asInteger(ancN), asInteger(genN)*asInteger(ancN));
}


s0 10 late() {
	sim.treeSeqOutput(outfile);
	catn(outfile);
	sim.simulationFinished();
} 

