meta/sims/*
data/*
trash/*
!meta/sims/rand_jid.txt
./output/great-apes_2E7JCTNHPGB2ZPH_rep0.trees
./tmp/neut_presplit_RAND_S9NHTHWULU.trees250000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees400000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees550000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees300000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees150000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees200000
./tmp/bgs_30_-0.03_presplit_RAND_195ZUT4JXV.trees50000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees350000
./tmp/bgs_30_-0.03_presplit_RAND_NWHID6EG0O.trees50000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees100000
./tmp/bgs_30_-0.03_presplit_RAND_D1UH2ZA139.trees50000
./tmp/neut_split_RAND_S211UYNFAV.trees100000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees50000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees500000
./tmp/bgs_30_-0.03_presplit_RAND_7SASR6FC88.trees50000
./tmp/neut_presplit_RAND_S9NHTHWULU.trees450000
