data/*
trash/*
.Rproj.user
.Rhistory
**/log
**/.snakemake
**/tmp
*.trees
*.trees*
**/benchmarks
output/[A-Z]*
output/[0-9]*
output/backup
meta/maps/*
**/.ipynb_checkpoints
**/__pycache__
..bfg-report
